{
  "plugins": ["prettier-plugin-svelte"],
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
